* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  background-color: lightblue;
  height: 100vh;
  display: grid;
  grid-template-areas: "stack";
}

.overlay {
  grid-area: stack;
  display: grid;
  align-items: center;
  justify-items: center;
  transition: clip-path 0.5s linear;
}

.overlay:first-of-type {
  background-color: orange;
  clip-path: circle(0%);
}

.overlay:last-of-type {
  background-color: green;
}
